main.error404-page-main {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

main.error404-page-main a.error404-homepage-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

main.error404-page-main a.error404-homepage-btn:hover {
    background-color: #0056b3;
}