main.all-users-page-main {
    padding: 40px 0;
}

div.all-users-data > h1 {
    text-align: center;
}

.loading, .error {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

.loading {
    color: #333;
}

.error {
    color: red;
}



